<footer class="rodape-site">
    <hr class="row Footer__separator"></hr>
      <div class="text-rodape-site">
        <h3 class="text-shop"></h3>
        <section id="footer-001" class="rodape-footer">
          <div class="shop">
          <h6 class="text-shop-1"> Onnzy Tecnologia </h6>
          <ul class="tex-shop-1-1">
            <li><a href="#"> Home </a></li>
            <li><a href="#"> Aplicativos (em breve) </a></li>
            <li><a href="#"> Sistemas Web (em breve)  </a></li>
            <li><a href="#"> Consultoria em T.I </a></li>
          </ul>
        </div>
        <div class="shop">
          <h6 class="text-shop-1"> Nossos Serviços </h6>
          <ul class="tex-shop-1-1">
            <li><a href="/"> Site </a></li>
            <li><a href="/sobre"> Lojas e-commerce </a></li>
            <li><a href="/produtos"> Design Gráfico </a></li>
            <li><a href="/trabalhe"> Web Design </a></li>
          </ul>
        </div>
        <div class="contact">
          <h6 class="text-shop-2"> + Informações </h6>
          <ul class="tex-shop-1-1">
            <li><a href="/login"> Blog </a></li>
            <li><a href="/sobre"> Quem Somos </a></li>
            <li><a href="/trabalheConosco"> Trabalhe Conosco </a></li>
            <li><a href="/historicoPedidos"> Atendimento ao Cliente </a></li>
          </ul>
        </div>
        <div class="social-media-footer">
          <h6 class="social-media-text"> Redes Sociais </h6>
          <ul class="list-social-media">
            <li><a href="https://www.tiktok.com/@onnzytecnologia"><span class="iconify" data-icon="fa6-brands:tiktok"></span><i class="tiktok"></i></a></li>
                <li><a href="https://www.linkedin.com/company/onnzytecnologia/"><span class="iconify" data-icon="fa6-brands:linkedin"></span><i class="linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/onnzyoficial/"><span class="iconify" data-icon="fa6-brands:instagram-square"></span><i class="instagram"></i></a></li>  
                <li><a href="https://www.youtube.com/"><span class="iconify" data-icon="fa6-brands:youtube-square"></span><i class="youtube"></i></a></li>  
                <li><a href="https://twitter.com/OnzzyT"><span class="iconify" data-icon="fa6-brands:twitter-square"></span><i class="twitter"></i></a></li>  
                <li><a href="https://www.facebook.com/people/Onnzy-Tecnologia/100084903525148/"><span class="iconify" data-icon="fa6-brands:facebook-square"></span><i class="facebook"></i></a></li>
          </ul>
        </section>
        <div class="TDR">
            <p> © Copyright 2022 - Onnzy Tecnologia Ltda - Todos os Direitos Reservados - CNPJ: 46.909.754/0001-60 </p>
            <p class="seBeber"> OBSERVAÇÃO: SITE EM CONSTANTE ATUALIZAÇÃO </p>
        </div>
    </footer>
  
      <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
      <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
      <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
      